#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
  }
  
  .card h5 {
    margin-top: 0;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (min-width: 1200px) {
    .row {
      flex-direction: row;
    }
    .card {
      width: 20%; /* ширина карточки на десктопе */
      margin: 10px 20px;
    }
  }